# OpenAI
OPENAI_API_KEY=sk-...

# Base de datos
DATABASE_URL=postgresql://user:password@localhost:5432/finsight_db

# LangSmith 
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=ls-...
LANGCHAIN_PROJECT=finsight-ai

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-1

# MLflow
MLFLOW_TRACKING_URI=
